.recover-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.recover-container .logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.recover-container h2 {
  text-align: center;
  margin: 20px 0;
  color: #a09c9c;
  font-size: 15px;
}

.recover-form {
  margin-bottom: 20px;
}

.recover-form .input-group {
  margin-bottom: 15px;
}

.recover-form .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.recover-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.recover-btn:hover {
  background-color: #218838;
}

.login-return p {
  margin-top: 20px;
  font-size: 14px;
}

.login-return .login-btn {
  color: #000000;
  text-decoration: none;
}

.login-return .login-btn:hover {
  text-decoration: underline;
  color: #218838;
  font-weight: bold;
}

#email-recover {
  border: 2px solid #218838;
  width: 100%;
}

#email-recover:focus {
  border-color: #85d698;
  outline: none;
}
