<div class="recover-container">
  <div class="logo">
    <img src="/login-img.svg" alt="Logo" />
  </div>
  <h2>Redefina sua senha e tenha acesso à sua conta</h2>
  <form class="recover-form">
    <div class="input-group">
      <input
        type="email"
        id="email-recover"
        placeholder="Digite seu e-mail"
        required
      />
    </div>
    <button type="submit" class="recover-btn">Enviar</button>
  </form>
  <div class="login-return">
    <p>
      Já tem uma conta?
      <a routerLink="/login" routerLinkActive="active" class="login-btn"
        >Retornar ao login</a
      >
    </p>
  </div>
</div>
